h1{
    margin-right: 20%;
    border: 3px solid red;
    text-align: center;
    margin-left: 20%;
    background-color: chartreuse;
    border-radius: 50px;
}
.button.start {
    padding: 19px 50px 19px 50px;
    background-color: rgb(51, 28, 134);
    color: #fff;
    margin-top: 27px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 40px;
    margin-left: 180px;
}
.button.reset{
    padding: 19px 50px 19px 50px;
    background-color: rgb(51, 28, 134);
    color: #fff;
    margin-top: 27px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 40px;
}
.button.lap{
    padding: 19px 50px 19px 50px;
    background-color: rgb(51, 28, 134);
    color: #fff;
    margin-top: 27px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 40px;
}